---
layout: default
---
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" uk-parallax="bgy: -250;" data-src="assets/images/hero-educators.jpg" alt="{% t educators.img %}" title="{% t educators.title %}" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="animated fadeInUp delay-2s fast">
      <h2>{% t educators.title %}</h2>
      <p class="uk-text-lead">{% t educators.lead %}</p>
    </div>
  </div>
</div>

<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t educators.intro.title %}</h2>
        <p>{% t educators.intro.description %}</p>
    </div>
  </div>
</div>

<div class="uk-hidden uk-section bg-blue animated fadeIn delay-3s fast">
  <div class="uk-container uk-width-1-1 uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <!-- Desktop -->
    <div class="uk-width-1-1 uk-visible@m">
        <h2 class="pd-top-120">{% t educators.info.title %}</h2>
        <p>{% t educators.info.description %}</p>
        <img data-src="assets/images/info-educators-desktop.jpg" alt="{% t educators.info.img %}" uk-img>
    </div>
  <!-- End desktop -->
  <!-- Mobile -->
    <div class="uk-width-1-1 uk-hidden@m">
        <h2 class="pd-top-120">{% t educators.info.title %}</h2>
        <p>{% t educators.info.description %}</p>
        <img data-src="assets/images/info-educators-mobile.jpg" alt="{% t educators.info.img %}" uk-img>
    </div>
  </div>
  <!-- End mobile -->
</div>

<div class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1 uk-text-center">
        <h2 class="pd-top-120">{% t educators.repository.title %}</h2>
        <p>{% t educators.repository.description_1 %}</p>
        <p>{% t educators.repository.description_2 %}</p>
    </div>
    <div class="uk-width-1-1 uk-visible@m">
      <table class="uk-table uk-table-middle uk-table-divider">
          <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td><h3>{% t educators.repository.document_1.title %}</h3><p>{% t educators.repository.document_1.description_1 %}</p><p>{% t educators.repository.document_1.description_2 %}</p></td>
                <td><a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/cuadernillo-antp.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Cuadernillo ANTP desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a></td>
              </tr>
              <tr>
                <td><h3>{% t educators.repository.document_2.title %}</h3><p>{% t educators.repository.document_2.description_1 %}</p><p>{% t educators.repository.document_2.description_2 %}</p></td>
                <td><a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/contenidos-taller-formacion.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Taller de Formación desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a></td>
              </tr>
              <tr>
                <td><h3>{% t educators.repository.document_3.title %}</h3><p>{% t educators.repository.document_3.description %}</p></td>
                <td><a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/lista-asistentes.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Lista asistentes desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a></td>
              </tr>
              <tr>
                <td><h3>Presentación de contenidos del taller de formación</h3><p>Acá podrás descargar la presentación de contenidos del taller de formación.</p></td>
                <td><a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/presentacion-contenidos-taller.pptx" target="_blank" onclick="gtag('event', 'Descargar ppt presentación contenidos sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a></td>
              </tr>
              <tr>
                <td><h3>{% t educators.repository.document_4.title %}</h3><p>{% t educators.repository.document_4.description %}</p></td>
                <td><a class="uk-button button-brand-line" href="https://docs.google.com/forms/d/e/1FAIpQLSc8JW6KiEyIVoCPSwhzxUh5ySel65zqSrt_HLAMRP8iZCcltQ/viewform?usp=sf_link" target="_blank" onclick="gtag('event', 'Ver Encuesta evaluación Taller de Formación', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a></td>
              </tr>
          </tbody>
      </table>
    </div>
    <div class="uk-width-1-1 uk-hidden@m">
      <div class="td-mobile">
        <hr>
        <h3>{% t educators.repository.document_1.title %}</h3>
        <p>{% t educators.repository.document_1.description_1 %}</p>
        <p>{% t educators.repository.document_1.description_2 %}</p>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/cuadernillo-antp.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Cuadernillo ANTP desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
      <div class="td-mobile">
        <hr>
        <h3>{% t educators.repository.document_2.title %}</h3>
        <p>{% t educators.repository.document_2.description_1 %}</p>
        <p>{% t educators.repository.document_2.description_2 %}</p>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/contenidos-taller-formacion.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Taller de Formación desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
      <div class="td-mobile">
        <hr>
        <h3>{% t educators.repository.document_3.title %}</h3>
        <p>{% t educators.repository.document_3.description %}</p>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/lista-asistentes.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Lista asistentes desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
      <div class="td-mobile">
        <hr>
        <h3>Presentación de contenidos del taller de formación</h3>
        <p>Acá podrás descargar la presentación de contenidos del taller de formación.</p>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/presentacion-contenidos-taller.pptx" target="_blank" onclick="gtag('event', 'Descargar ppt presentación contenidos sección Forma a Otro', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
      <div class="td-mobile">
        <hr>
        <h3>{% t educators.repository.document_4.title %}</h3>
        <p>{% t educators.repository.document_4.description %}</p>
        <a class="uk-button button-brand-line" href="https://docs.google.com/forms/d/e/1FAIpQLSc8JW6KiEyIVoCPSwhzxUh5ySel65zqSrt_HLAMRP8iZCcltQ/viewform?usp=sf_link" target="_blank" onclick="gtag('event', 'Ver Encuesta evaluación Taller de Formación', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>


<div class="uk-hidden uk-section bg-blue animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <ul uk-accordion>
          <li class="uk-open">
              <a class="uk-accordion-title" href="#">Item 1</a>
              <div class="uk-accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </li>
          <li>
              <a class="uk-accordion-title" href="#">Item 2</a>
              <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
              </div>
          </li>
          <li>
              <a class="uk-accordion-title" href="#">Item 3</a>
              <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
              </div>
          </li>
      </ul>
    </div>
  </div>
  <!-- End desktop -->
</div>

<div class="uk-visible@m bg-yellow uk-flex uk-flex-center uk-inline uk-flex-middle" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
  <!-- Desktop -->
  <div class="uk-width-1-2@m uk-background-cover" style="min-height:80vh" data-src="assets/images/home-report.jpg" alt="" title="" uk-img>
  </div>
  <div class="uk-width-1-2@m">
    <div class="uk-container">
      <h2>{% t educators.report.title %}</h2>
      <p>{% t educators.report.description_1 %}</p>
      <ul class="uk-list">
        <li class="compressed">{% t educators.report.list_1 %}</li>
        <li class="compressed">{% t educators.report.list_2 %}</li>
        <li class="compressed">{% t educators.report.list_3 %}</li>
        <li class="compressed">{% t educators.report.list_4 %}</li>
      </ul>
      <p>{% t educators.report.description_2 %}</p>
      <a href="https://forms.gle/iwhSbxrzEMsQTWio9 " class="uk-button button-black-line" target="_blank" onclick="gtag('event', 'Click en botón para registrar formación en la sección Forma a otrxs', { 'event_category': 'form', 'value': '1'})"> {% t educators.report.action %} </a>
    </div>
  </div>
  <!-- End desktop -->
</div>


<div class="uk-section bg-yellow uk-hidden@m animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
      <div class="uk-width-1-1 uk-text-center">
        <h2 class="pd-top-120">{% t educators.report.title %}</h2>
      </div>
      <div class="uk-width-1-1">
        <p>{% t educators.report.description_1 %}</p>
        <ul class="uk-list">
          <li class="compressed">{% t educators.report.list_1 %}</li>
          <li class="compressed">{% t educators.report.list_2 %}</li>
          <li class="compressed">{% t educators.report.list_3 %}</li>
          <li class="compressed">{% t educators.report.list_4 %}</li>
        </ul>
        <p>{% t educators.report.description_2 %}</p>
      </div>
      <div class="uk-width-1-1 uk-text-center">
        <a href="https://forms.gle/iwhSbxrzEMsQTWio9 " class="uk-button button-black-line" target="_blank" onclick="gtag('event', 'Click en botón para registrar formación en la sección Forma a otrxs', { 'event_category': 'form', 'value': '1'})"> {% t educators.report.action %} </a>
      </div>
  </div>
  <!-- End desktop -->
</div>
