---
layout: default
---
<div id="welcome-page" class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" uk-parallax="bgy: -250;" data-src="assets/images/hero-resources.jpg" alt="{% t resources.img %}" title="{% t resources.title %}" uk-img>
  <div class="uk-container uk-text-center uk-width-2-3@m">
    <div class="animated fadeInUp delay-2s fast">
      <h2>{% t resources.title %}</h2>
      <p class="uk-text-lead">{% t resources.lead %}</p>
    </div>
  </div>
</div>


<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-3-4@m pd-top-120" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
    <div class="uk-visible@m uk-width-2-3@m">
        <h2>{% t resources.intro.title_1 %}</h2>
        <p>{% t resources.intro.description_1 %}</p>
        <p>{% t resources.intro.description_2 %}</p>
    </div>
    <div class="uk-visible@m uk-width-1-3@m">
      <div class="uk-card uk-card-default">
           <div class="uk-card-media-top">
               <img data-src="assets/images/icon-notebook.svg" alt="Imagen de una libreta dibujada a mano" uk-img>
           </div>
           <div class="uk-card-body">
               <h3 class="uk-card-title">{% t resources.intro.title_document_1 %}</h3>
               <a href="{{ site.baseurl }}/assets/documentos/cuadernillo-antp.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Cuadernillo ANTP desde sección Material de formación', { 'event_category': 'download', 'value': '1'})">{% t resources.intro.action %}<i class="uil uil-arrow-to-bottom"></i></a>
           </div>
       </div>
    </div>

    <div class="uk-hidden@m uk-width-1-1 uk-text-center">
        <h2 class="pd-top-120">{% t resources.intro.title_1 %}</h2>
        <p>{% t resources.intro.description_1 %}</p>
        <p>{% t resources.intro.description_2 %}</p>
    </div>
    <div class="uk-hidden@m uk-width-1-1 uk-text-center">
      <div class="uk-card uk-card-default">
           <div class="uk-card-media-top">
               <img data-src="assets/images/icon-notebook.svg" alt="Imagen de una libreta dibujada a mano" uk-img>
           </div>
           <div class="uk-card-body">
               <h3 class="uk-card-title">{% t resources.intro.title_document_1 %}</h3>
               <a href="{{ site.baseurl }}/assets/documentos/cuadernillo-antp.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Cuadernillo ANTP desde sección Material de formación', { 'event_category': 'download', 'value': '1'})">{% t resources.intro.action %} <i class="uil uil-arrow-to-bottom"></i></a>
           </div>
       </div>
    </div>
  </div>
  </div>
  <!-- End desktop -->
</div>

<!-- Acá empieza todo el material adicional -->

<div class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-visible@m uk-container uk-width-1-1 uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2>{% t resources.intro.title_2 %}</h2>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">{% t resources.intro.title_document_2 %}</h3>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/contenidos-taller-formacion.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf contenidos taller formación desde sección Material de formación', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">{% t resources.intro.title_document_3 %}</h3>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/presentacion-contenidos-taller.pptx" target="_blank" onclick="gtag('event', 'Descargar pdf Taller de Formación desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">{% t resources.intro.title_document_4 %}</h3>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/preguntas-frecuentes.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Pregunas frecuentes', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
  </div>

  <div class="uk-visible@m uk-container uk-width-1-1 uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
      <h2 class="pd-top-120">{% t resources.intro.title_3 %}</h2>
      <hr>
      <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
        <div class="uk-width-1-3@m">
          <h3 class="black">{% t resources.intro.video_1 %}</h3>
        </div>
        <div class="uk-width-2-3@m">
          <iframe class="uk-align-right" width="500" height="350" src="https://www.youtube.com/embed/yNNyyFQ1dpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <hr>
      <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
        <div class="uk-width-1-3@m">
          <h3 class="black">{% t resources.intro.video_2 %}</h3>
        </div>
        <div class="uk-width-2-3@m">
          <iframe class="uk-align-right" width="500" height="350" src="https://www.youtube.com/embed/5s598Iq9XgY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <hr>
      <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
        <div class="uk-width-1-3@m">
          <h3 class="black">{% t resources.intro.video_3 %}</h3>
        </div>
        <div class="uk-width-2-3@m">
          <iframe class="uk-align-right" width="500" height="350" src="https://www.youtube.com/embed/ue0xkn_Biw0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <hr>
  </div>
  <div class="uk-visible@m uk-container uk-width-1-1 uk-width-3-4@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2 class="pd-top-120">{% t resources.intro.title_4%}</h2>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Cambios Constitucionales y Derechos Humanos de las Mujeres</h3>
        <p class="brand" style="margin-top:-16px">Corporación Humanas</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/cambios-constitucionales-y-derechos-humanos-de-las-mujeres.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Ciudadanías y Pluralismo</h3>
        <p class="brand" style="margin-top:-16px">David Miller</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/ciudadanias-y-pluralismo.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Constitución Política de Chile 1980</h3>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/constitucion-politica-de-chile-1980.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Debate Constitucional en Chile ¿Reemplazo vía enmienda?</h3>
        <p class="brand" style="margin-top:-16px">Claudio Fuentes</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/debate-constitucional-en-chile.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Declaración Universal de Derechos Humanos</h3>
        <p class="brand" style="margin-top:-16px">Asamblea General</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/declaracion-universal-de-derechos-humanos.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Democracia y Educación</h3>
        <p class="brand" style="margin-top:-16px">John Dewey</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/democracia-y-educacion.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Desigualdades</h3>
        <p class="brand" style="margin-top:-16px">PNUD</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/desigualdades.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Diagnóstico sobre la participación electoral en Chile</h3>
        <p class="brand" style="margin-top:-16px">PNUD</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/diagnostico-sobre-la-participacion-electoral-en-chile.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">El poder constituyente</h3>
        <p class="brand" style="margin-top:-16px">Toni Negri</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/el-poder-constituyente.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Enseñando y aprendiendo para una participación transformadora</h3>
        <p class="brand" style="margin-top:-16px">UNESCO</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/ensenando-y-aprendiendo-para-una-participacion-transformadora.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Identidad de género de niñas, niños y adolescentes</h3>
        <p class="brand" style="margin-top:-16px">Gauché y  Lovera</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/identidad-de-genero-de-nna.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">La participación incidente de niñas, niños y adolescentes en políticas públicas y el reconocimiento constitucional de sus derechos</h3>
        <p class="brand" style="margin-top:-16px">Bassa y Lovera</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/la-participacion-incidente-de-nna.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">La Constitución Política de 1980</h3>
        <p class="brand" style="margin-top:-16px">Heiss y Szmulewicz</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/la-constitucion-politica-de-1980.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Ley Número 21.200</h3>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/ley-21200.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Manual de Diálogos Nacionales</h3>
        <p class="brand" style="margin-top:-16px">Berghof Foundation Operations GmbH</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/manual-de-dialogos-nacionales.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Percepciones sociales sobre el derecho de autonomía de los pueblos indígenas en Chile</h3>
        <p class="brand" style="margin-top:-16px">Fernández y Fuentes</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/percepciones-sociales-sobre-el-derecho-de-autonomia-de-los-pueblos-indigenas.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Proceso Constituyente en Chile</h3>
        <p class="brand" style="margin-top:-16px">Jaime Bassa</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/proceso-constituyente-en-chile.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Qué puede cambiar una nueva Constitución</h3>
        <p class="brand" style="margin-top:-16px">Pedro Mujica, Educación y Ciudadanía</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/que-puede-cambiar-una-nueva-constitución.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Soberanía Popular y Momento Constituyente en el debate sobre el cambio constitucional en Chile</h3>
        <p class="brand" style="margin-top:-16px">Claudia Heiss</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/soberania-popular-y-momento-constituyente.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Sobre la libertad de los antiguos comparada a la de los modernos</h3>
        <p class="brand" style="margin-top:-16px">Benjamin Constant</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/sobre-la-libertad-de-los-antiguos-comparada-a-la-de-los-modernos.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
    <div class="uk-flex uk-flex-center uk-flex-middle uk-grid-large" uk-grid>
      <div class="uk-width-3-4@m">
        <h3 class="black">Voz, visibilidad, reconocimiento- comunicación y ciudadanía con perspectiva de derechos humanos</h3>
        <p class="brand" style="margin-top:-16px">Orchard y Valderrama</p>
      </div>
      <div class="uk-width-1-4@m">
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/voz-visibilidad-reconocimiento-comunicacion-y-ciudadania.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
      </div>
    </div>
    <hr>
  </div>


  <!-- End desktop -->
  <div class="uk-hidden@m uk-container uk-width-1-1 uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2>{% t resources.intro.title_2 %}</h2>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
        <h3 class="black">{% t resources.intro.title_document_2 %}</h3>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/contenidos-taller-formacion.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf contenidos taller formación desde sección Material de formación', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center"" uk-grid>
        <h3 class="black">{% t resources.intro.title_document_3 %}</h3>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/presentacion-contenidos-taller.pptx" target="_blank" onclick="gtag('event', 'Descargar pdf Taller de Formación desde sección Forma a Otros', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center"" uk-grid>
        <h3 class="black">{% t resources.intro.title_document_4 %}</h3>
        <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/preguntas-frecuentes.pdf" target="_blank" onclick="gtag('event', 'Descargar pdf Pregunas frecuentes', { 'event_category': 'download', 'value': '1'})">{% t educators.repository.action %}<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
  </div>
  <div class="uk-hidden@m uk-container uk-width-1-1 uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
      <h2 class="pd-top-120">{% t resources.intro.title_3 %}</h2>
      <hr>
      <div class="uk-width-1-1 uk-align-center"" uk-grid>
        <h3 class="black">{% t resources.intro.video_1 %}</h3>
        <iframe src="https://www.youtube.com/embed/yNNyyFQ1dpU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <hr>
      <div class="uk-width-1-1 uk-align-center"" uk-grid>
        <h3 class="black">{% t resources.intro.video_2 %}</h3>
        <iframe src="https://www.youtube.com/embed/5s598Iq9XgY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <hr>
      <div class="uk-width-1-1 uk-align-center"" uk-grid>
        <h3 class="black">{% t resources.intro.video_3 %}</h3>
        <iframe src="https://www.youtube.com/embed/ue0xkn_Biw0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <hr>
  </div>
  <div class="uk-hidden@m uk-container uk-width-1-1 uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <h2>{% t resources.intro.title_4 %}</h2>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Cambios Constitucionales y Derechos Humanos de las Mujeres</h3>
      <p class="brand" style="margin-top:12px">Corporación Humanas</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/cambios-constitucionales-y-derechos-humanos-de-las-mujeres.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Ciudadanías y Pluralismo</h3>
      <p class="brand" style="margin-top:12px">David Miller</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/ciudadanias-y-pluralismo.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Constitución Política de Chile 1980</h3>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/constitucion-politica-de-chile-1980.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Debate Constitucional en Chile ¿Reemplazo vía enmienda?</h3>
      <p class="brand" style="margin-top:12px">Claudio Fuentes</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/debate-constitucional-en-chile.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Declaración Universal de Derechos Humanos</h3>
      <p class="brand" style="margin-top:12px">Asamblea General</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/declaracion-universal-de-derechos-humanos.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Democracia y Educación</h3>
      <p class="brand" style="margin-top:12px">John Dewey</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/democracia-y-educacion.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Desigualdades</h3>
      <p class="brand" style="margin-top:12px">PNUD</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/desigualdades.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Diagnóstico sobre la participación electoral en Chile</h3>
      <p class="brand" style="margin-top:12px">PNUD</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/diagnostico-sobre-la-participacion-electoral-en-chile.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">El poder constituyente</h3>
      <p class="brand" style="margin-top:12px">Toni Negri</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/el-poder-constituyente.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Enseñando y aprendiendo para una participación transformadora</h3>
      <p class="brand" style="margin-top:12px">UNESCO</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/ensenando-y-aprendiendo-para-una-participacion-transformadora.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Identidad de género de niñas, niños y adolescentes</h3>
      <p class="brand" style="margin-top:12px">Gauché y  Lovera</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/identidad-de-genero-de-nna.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">La participación incidente de niñas, niños y adolescentes en políticas públicas y el reconocimiento constitucional de sus derechos</h3>
      <p class="brand" style="margin-top:12px">Bassa y Lovera</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/la-participacion-incidente-de-nna.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">La Constitución Política de 1980</h3>
      <p class="brand" style="margin-top:12px">Heiss y Szmulewicz</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/la-constitucion-politica-de-1980.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Ley Número 21.200</h3>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/ley-21200.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Manual de Diálogos Nacionales</h3>
      <p class="brand" style="margin-top:12px">Berghof Foundation Operations GmbH</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/manual-de-dialogos-nacionales.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Percepciones sociales sobre el derecho de autonomía de los pueblos indígenas en Chile</h3>
      <p class="brand" style="margin-top:12px">Fernández y Fuentes</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/percepciones-sociales-sobre-el-derecho-de-autonomia-de-los-pueblos-indigenas.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Proceso Constituyente en Chile</h3>
      <p class="brand" style="margin-top:12px">Jaime Bassa</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/proceso-constituyente-en-chile.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Qué puede cambiar una nueva Constitución</h3>
      <p class="brand" style="margin-top:12px">Pedro Mujica, Educación y Ciudadanía</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/que-puede-cambiar-una-nueva-constitución.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Soberanía Popular y Momento Constituyente en el debate sobre el cambio constitucional en Chile</h3>
      <p class="brand" style="margin-top:12px">Claudia Heiss</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/soberania-popular-y-momento-constituyente.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Sobre la libertad de los antiguos comparada a la de los modernos</h3>
      <p class="brand" style="margin-top:12px">Benjamin Constant</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/sobre-la-libertad-de-los-antiguos-comparada-a-la-de-los-modernos.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
    <div class="uk-width-1-1 uk-align-center" uk-grid>
      <h3 class="black">Voz, visibilidad, reconocimiento- comunicación y ciudadanía con perspectiva de derechos humanos</h3>
      <p class="brand" style="margin-top:12px">Orchard y Valderrama</p>
      <a class="uk-button button-brand-line" href="{{ site.baseurl }}/assets/documentos/voz-visibilidad-reconocimiento-comunicacion-y-ciudadania.pdf" target="_blank" onclick="gtag('event', 'Descarga recurso biblioteca digital', { 'event_category': 'download', 'value': '1'})">Descargar<i class="uil uil-arrow-to-bottom"></i></a>
    </div>
    <hr>
  </div>

</div>



<div class="uk-section bg-white animated fadeIn delay-3s fast">
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
        <p>{% t resources.who %}</p>
    </div>
  </div>
</div>


<div class="uk-hidden uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <ul uk-accordion>
          <li class="uk-open">
              <a class="uk-accordion-title" href="#">Item 1</a>
              <div class="uk-accordion-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </li>
          <li>
              <a class="uk-accordion-title" href="#">Item 2</a>
              <div class="uk-accordion-content">
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
              </div>
          </li>
          <li>
              <a class="uk-accordion-title" href="#">Item 3</a>
              <div class="uk-accordion-content">
                  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
              </div>
          </li>
      </ul>
    </div>
  </div>
  <!-- End desktop -->
</div>

<div class="uk-section bg-pink animated fadeIn uk-hidden">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t resources.invite.title %}</h2>
        <p>{% t resources.invite.description %}</p>
        <a href="" class="uk-button button-white-line" target="_blank">{% t resources.invite.action %}</a>
      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
