<div id="about" class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t home.about.title %}</h2>
        <p>{% t home.about.description %}</p>
      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
