<div id="about_us" class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-2-3@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t about_us.title %}</h2>
        <p>{% t about_us.description %}</p>
      </div>
      <div class="uk-grid-large uk-child-width-1-2 uk-child-width-1-3@m mg-top-45 mg-bot-45 txt-bigger-size uk-flex uk-flex-middle uk-flex-center" uk-grid>
        <div>
          <p><a href="http://accionag.cl/" target="_blank">ACCIÓN<br>Asociación Chilena de ONGs</a></p>
        </div>
        <div>
          <p class="txt-color-brand">ACOSOC<br>Asociación de Consejos de la Sociedad Civil</p>
        </div>
        <div>
          <p><a href="https://www.adir.cl/" target="_blank">ADIR<br>Asociación Chilena de Diálogo Interreligioso para el Desarrollo Humano</a></p>
        </div>
        <div>
          <p><a href="http://comunidad-org.cl/" target="_blank">Comunidad de Organizaciones Solidarias</a></p>
        </div>
        <div>
          <p><a href="https://www.facebook.com/Pacto-Por-La-Discapacidad-100115118116428/" target="_blank">Pacto por la Discapacidad</a></p>
        </div>
        <div>
          <p><a href="https://twitter.com/redchilega?lang=es" target="_blank">Red de Gobierno Abierto</a></p>
        </div>
        <div>
          <p class="txt-color-brand">Red de Movilidad</p>
        </div>
        <div>
          <p class="txt-color-brand">Red de Organizaciones Independientes</p>
        </div>
        <div>
          <p class="txt-color-brand">Red Voluntarios Chile</p>
        </div>
        <div>
          <p class="txt-color-brand">Sociedad Civil por la Acción Climática</p>
        </div>
      </div>
      <div class="uk-width-1-1 uk-hidden">
        <div uk-slider="autoplay: true; finite: true; sets: true" class="mg-top-90 mg-bot-45">

            <div class="uk-position-relative">

                <div class="uk-slider-container uk-light">
                    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                        <li>
                            <img src="assets/images/icon-flag.svg" alt="">
                        </li>
                    </ul>
                </div>

                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>

                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>

            </div>


        </div>
      </div>
      <div class="uk-width-1-1 uk-hidden">
        <a class="uk-button button-1st-line mg-top-45" href="">Ver todas las organizaciones</a>
      </div>
    </div>
  </div>
  <!-- End desktop -->
</div>
