<div class="uk-section bg-white animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-3-4@m uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1">
      <div class="uk-width-1-1">
        <h2 class="pd-top-120">{% t home.educators.title %}</h2>
        <p>{% t home.educators.description %}</p>
      </div>
      <div class="uk-width-1-1">
        <a href="{{ site.baseurl }}/forma-a-otrxs.html" class="uk-button button-brand-line" style="margin-top:30px;" onclick="gtag('event', 'Llevar a sección Forma a otrxs desde el Home', { 'event_category': 'link', 'value': '1'})">{% t home.educators.action %}</a>
      </div>
    </div>
  </div>

  <!-- End desktop -->
</div>
