<footer>
  <!--Desktop-->
    <div class="uk-container uk-visible@m">
      <div class="uk-flex uk-flex-center" uk-grid>
        <div class="uk-width-1-4 uk-text-center">
          <img data-src="assets/images/logo-prueba.svg" class="logo-footer" title="{% t footer.img_ant %}"uk-img>
        </div>
        <div class="uk-width-1-4 uk-text-center" style="position:relative;top:-10px">
          <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
            <div class="uk-width-1-2"><p>{% t footer.description %}</p></div>
            <div class="uk-width-1-2"><a href="https://pactosocialchile.cl/" target="_blank" onclick="gtag('event', 'Llevar a NPS desde el footer', { 'event_category': 'link', 'value': '1'})">><img style="width:90%;position:relative;left:-30px;" data-src="assets/images/logo-footer-nps.png" title="{% t footer.img_nps %}" uk-img></a></div>
          </div>
        </div>
        <div class="uk-width-1-4">
          <ul class="uk-list">
            <li><p>{% t footer.contact %} <a href="mailto:{% t footer.mail %}" onclick="gtag('event', 'Click en el mail de ANTP en el footer', { 'event_category': 'contact', 'value': '1'})">{% t footer.mail %}</a></p></li>
            <li style="font-size:1.2rem;">
              <a href="https://twitter.com/ahrnostoca" target="_blank" onclick="gtag('event', 'Llevar a twitter de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-twitter"></i></a>
              <a href="https://www.instagram.com/ahoranostocachile/" target="_blank" onclick="gtag('event', 'Llevar a instagram de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-instagram"></i></a>
              <a href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank" onclick="gtag('event', 'Llevar a facebook de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-facebook"></i></a>
              <a href="https://www.youtube.com/channel/UCJQZ-TRYaj3hZ53JiGAFYkQ" target="_blank" onclick="gtag('event', 'Llevar a YouTube de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-youtube"></i></a>
            </li>
          </ul>
        </div>
        <div class="uk-width-1-4">
          <p class="font-small">{% t footer.disclaimer %}</p>
        </div>
      </div>
    </div>
    <!--end desktop-->

    <!--Mobile-->
    <div class="uk-container uk-hidden@m">
      <div class="uk-flex uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-1-1">
          <div>
            <img data-src="assets/images/logo-prueba.svg" class="logo-footer" title="{% t footer.img_ant %}" uk-img>
          </div>
        </div>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-width-1-2 uk-text-right"><p>{% t footer.description %}</p></div>
        <div class="uk-width-1-2"><img style="width:50%;position:relative;left:-20px;" data-src="assets/images/logo-footer-nps.png" title="{% t footer.img_nps %}" uk-img></div>
      </div>
      <div class="uk-flex uk-flex-center uk-flex-middle" uk-grid>
        <div class="uk-width-1-1 uk-text-center">
          <div>
            <ul class="uk-list">
              <li><p>{% t footer.contact %} <a href="mailto:{% t footer.mail %}" onclick="gtag('event', 'Click en el mail de ANTP en el footer', { 'event_category': 'contact', 'value': '1'})">{% t footer.mail %}</a></p></li>
              <li style="font-size:1.5rem;margin:20px 0 -20px">
                <a href="https://twitter.com/ahrnostoca" target="_blank" onclick="gtag('event', 'Llevar a twitter de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-twitter"></i></a>
                <a href="https://www.instagram.com/ahoranostocachile/" target="_blank" onclick="gtag('event', 'Llevar a instagram de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-instagram"></i></a>
                <a href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank" onclick="gtag('event', 'Llevar a facebook de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCJQZ-TRYaj3hZ53JiGAFYkQ" target="_blank" onclick="gtag('event', 'Llevar a YouTube de ANTP desde el footer', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="uk-width-1-1 uk-text-center">
          <hr>
          <li><p class="font-small">{% t footer.disclaimer %}</p></li>
        </div>
      </div>
    </div>
    <!--end mobile-->

</footer>
