<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="description" content="{{ site.description }}">

  <!-- Facebook open graph -->
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://{{ site.baseurl_root }}" />
  <meta property="og:image" content="http://{{ site.baseurl_root }}/assets/images/og-img.png" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:keywords" content="{{ site.keywords }}" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ciudadaniai_i">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:creator" content="@ciudadaniai_i">
  <meta name="twitter:image" content="{{ site.baseurl_root }}/assets/images/og-img.png">

  <meta name="google-site-verification" content="50g-aAPforfF3zOU8dL_aQP43eXB_qYf6FoOQD_AT_Y" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="canonical" href="{{ site.baseurl_root }}" />
  <link rel="shortcut icon" href="{{ site.baseurl_root }}/assets/images/favicon.ico">

  <!-- Uikit -->
  <!-- css -->
  <link rel="stylesheet" href="{{ site.baseurl_root }}/assets/uikit/css/uikit.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.0.1/css/unicons.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i|Staatliches&display=swap" rel="stylesheet">
  <!-- js -->
  <script src="{{ site.baseurl_root }}/assets/uikit/js/uikit.min.js"></script>
  <script src="{{ site.baseurl_root }}/assets/uikit/js/uikit-icons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  {%- include google-analytics.html -%}

  <script>
    UIkit.scrollspy(element, options);
    UIkit.scroll(element, options).scrollTo(el);
    UIkit.scroll(element).scrollTo(el);
    UIkit.modal(element, options);
    UIkit.slideshow(element, options);
    UIkit.slider(element).show(index);
    UIkit.slider(element).startAutoplay();
    UIkit.filter(element, options);
  </script>

<script src="https://my.hellobar.com/96b46f54a5aaad2ee44aa37299387ecca328dee4.js" type="text/javascript" charset="utf-8" async="async"></script>
</head>
