<!--Desktop-->
<div class="uk-visible@m uk-section bg-white animated fadeIn pd-top-120">
  <div class="uk-container uk-width-5-6@m" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1 uk-flex" uk-grid>
      <div class="uk-width-1-5@m">
        <h3 class="brand">{% t home.support.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-5@m uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-01.png" title="{% t home.support.supp_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-02.png" title="{% t home.support.supp_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-03.png" title="{% t home.support.supp_03 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-04.png" title="{% t home.support.supp_04 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-05.png" title="{% t home.support.supp_05 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1 uk-flex" uk-grid>
      <div class="uk-width-1-5@m">
        <h3 class="brand">{% t home.network.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-5@m uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-00.png" title="{% t home.network.net_00 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-01.png" title="{% t home.network.net_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-02.png" title="{% t home.network.net_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-03.png" title="{% t home.network.net_03 %}" uk-img>
            </div>
            <div class="gallerycardg">
              <img data-src="assets/images/logo-net-04.png" title="{% t home.network.net_04 %}" uk-img>
            </div>
            <div class="gallerycardg">
              <img data-src="assets/images/logo-net-05.png" title="{% t home.network.net_05 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-06.png" title="{% t home.network.net_06 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-07.png" title="{% t home.network.net_07 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-08.png" title="{% t home.network.net_08 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-09.png" title="{% t home.network.net_09 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-10.png" title="{% t home.network.net_10 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1 uk-flex" uk-grid>
      <div class="uk-width-1-5@m">
        <h3 class="brand">{% t home.orgs.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-5@m uk-grid-small uk-text-center myItems" uk-grid>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-01.png" title="{% t home.orgs.org_01 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-02.png" title="{% t home.orgs.org_02 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-03.png" title="{% t home.orgs.org_03 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-04.png" title="{% t home.orgs.org_04 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-05.png" title="{% t home.orgs.org_05 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-06.png" title="{% t home.orgs.org_06 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-07.png" title="{% t home.orgs.org_07 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-08.png" title="{% t home.orgs.org_08 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-09.png" title="{% t home.orgs.org_09 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-10.png" title="{% t home.orgs.org_10 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-11.png" title="{% t home.orgs.org_11 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-12.png" title="{% t home.orgs.org_12 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-13.png" title="{% t home.orgs.org_13 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-14.png" title="{% t home.orgs.org_14 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-15.png" title="{% t home.orgs.org_15 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-16.png" title="{% t home.orgs.org_16 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-17.png" title="{% t home.orgs.org_17 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-18.png" title="{% t home.orgs.org_18 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-19.png" title="{% t home.orgs.org_19 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-20.png" title="{% t home.orgs.org_20 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-21.png" title="{% t home.orgs.org_21 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-22.png" title="{% t home.orgs.org_22 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-23.png" title="{% t home.orgs.org_23 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-25.png" title="{% t home.orgs.org_25 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-26.png" title="{% t home.orgs.org_26 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-27.png" title="{% t home.orgs.org_27 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-28.png" title="{% t home.orgs.org_28 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-29.png" title="{% t home.orgs.org_29 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-30.png" title="{% t home.orgs.org_30 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-31.png" title="{% t home.orgs.org_31 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-32.png" title="{% t home.orgs.org_32 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-33.png" title="{% t home.orgs.org_33 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-34.png" title="{% t home.orgs.org_34 %}" uk-img>
          </div>
          <div class="gallerycard">
            <img data-src="assets/images/logo-org-35.png" title="{% t home.orgs.org_35 %}" uk-img>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1 uk-flex" uk-grid>
      <div class="uk-width-1-5@m">
        <h3 class="brand">{% t home.alliances.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-5@m uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-01.png" title="{% t home.alliances.alli_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-02.png" title="{% t home.alliances.alli_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-03.png" title="{% t home.alliances.alli_03 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-04.png" title="{% t home.alliances.alli_04 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1 uk-flex" uk-grid>
      <div class="uk-width-1-5@m">
        <h3 class="brand">{% t home.media.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-5@m uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-med-01.png" title="{% t home.alliances.med_01 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end Desktop-->
<!--Mobile-->
<div class="uk-hidden@m uk-section bg-white animated fadeIn pd-top-120">
  <div class="uk-container" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-width-1-1" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h3 class="brand">{% t home.support.title %}</h3>
      </div>
      <div class="uk-width-1-1">
        <div class="uk-child-width-1-3 uk-flex uk-flex-center uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-01.png" title="{% t home.support.supp_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-02.png" title="{% t home.support.supp_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-03.png" title="{% t home.support.supp_03 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-04.png" title="{% t home.support.supp_04 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-supp-05.png" title="{% t home.support.supp_05 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h3 class="brand">{% t home.network.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-3 uk-flex uk-flex-center uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-00.png" title="{% t home.network.net_00 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-01.png" title="{% t home.network.net_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-02.png" title="{% t home.network.net_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-03.png" title="{% t home.network.net_03 %}" uk-img>
            </div>
            <div class="gallerycardg">
              <img data-src="assets/images/logo-net-04.png" title="{% t home.network.net_04 %}" uk-img>
            </div>
            <div class="gallerycardg">
              <img data-src="assets/images/logo-net-05.png" title="{% t home.network.net_05 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-06.png" title="{% t home.network.net_06 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-07.png" title="{% t home.network.net_07 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-08.png" title="{% t home.network.net_08 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-09.png" title="{% t home.network.net_09 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-net-10.png" title="{% t home.network.net_10 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h3 class="brand">{% t home.orgs.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-3 uk-flex uk-flex-center uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-01.png" title="{% t home.orgs.org_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-02.png" title="{% t home.orgs.org_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-03.png" title="{% t home.orgs.org_03 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-05.png" title="{% t home.orgs.org_05 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-06.png" title="{% t home.orgs.org_06 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-07.png" title="{% t home.orgs.org_07 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-08.png" title="{% t home.orgs.org_08 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-09.png" title="{% t home.orgs.org_09 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-10.png" title="{% t home.orgs.org_10 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-11.png" title="{% t home.orgs.org_11 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-12.png" title="{% t home.orgs.org_12 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-13.png" title="{% t home.orgs.org_13 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-14.png" title="{% t home.orgs.org_14 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-15.png" title="{% t home.orgs.org_15 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-16.png" title="{% t home.orgs.org_16 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-17.png" title="{% t home.orgs.org_17 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-18.png" title="{% t home.orgs.org_18 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-19.png" title="{% t home.orgs.org_19 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-20.png" title="{% t home.orgs.org_20 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-21.png" title="{% t home.orgs.org_21 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-22.png" title="{% t home.orgs.org_22 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-23.png" title="{% t home.orgs.org_23 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-25.png" title="{% t home.orgs.org_25 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-26.png" title="{% t home.orgs.org_26 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-27.png" title="{% t home.orgs.org_27 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-28.png" title="{% t home.orgs.org_28 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-29.png" title="{% t home.orgs.org_29 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-30.png" title="{% t home.orgs.org_30 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-31.png" title="{% t home.orgs.org_31 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-32.png" title="{% t home.orgs.org_32 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-33.png" title="{% t home.orgs.org_33 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-34.png" title="{% t home.orgs.org_34 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-org-35.png" title="{% t home.orgs.org_35 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="uk-width-1-1" uk-grid>
      <div class="uk-width-1-1 uk-text-center">
        <h3 class="brand">{% t home.alliances.title %}</h3>
      </div>
      <div class="uk-width-4-5@m">
        <div class="uk-child-width-1-3 uk-flex uk-flex-center uk-grid-small uk-text-center myItems" uk-grid>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-01.png" title="{% t home.alliances.alli_01 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-02.png" title="{% t home.alliances.alli_02 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-03.png" title="{% t home.alliances.alli_03 %}" uk-img>
            </div>
            <div class="gallerycard">
              <img data-src="assets/images/logo-alli-04.png" title="{% t home.alliances.alli_04 %}" uk-img>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end Mobile-->
