<div id="social_media" class="uk-section pd-80-80 bg-brand animated fadeIn">
  <!-- Desktop -->
  <div class="uk-container uk-width-1-1 uk-width-3-4 uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200; repeat: false">
    <div class="uk-flex uk-flex-center" uk-grid>
      <div class="uk-width-1-1">
        <h2 class="pd-top-120"> {% t social_media.title %} </h2>
      </div>
        <div class="uk-child-width-1-3 uk-grid-large uk-flex uk-flex-center uk-flex-middle" uk-grid>
          <div>
            <a class="icon-button-black" href="https://twitter.com/ahrnostoca" target="_blank">
              <svg width="50" height="41" viewBox="0 0 50 41" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M44.8605 10.2179C44.8923 10.6663 44.8923 11.1149 44.8923 11.5633C44.8923 25.2406 34.5814 41 15.7361 41C9.93021 41 4.53683 39.3023 0 36.3555C0.824906 36.4516 1.61798 36.4836 2.47462 36.4836C7.26517 36.4836 11.6751 34.8501 15.1967 32.0633C10.6916 31.9672 6.91624 28.9883 5.61545 24.8883C6.25002 24.9843 6.8845 25.0484 7.55081 25.0484C8.47083 25.0484 9.39096 24.9202 10.2475 24.6961C5.55207 23.7351 2.03038 19.5711 2.03038 14.5422V14.4141C3.39454 15.1828 4.98098 15.6633 6.66233 15.7273C3.90216 13.8694 2.09386 10.6984 2.09386 7.11087C2.09386 5.18903 2.60138 3.42731 3.48976 1.8898C8.53421 8.16792 16.1168 12.2678 24.6192 12.7164C24.4606 11.9476 24.3654 11.1469 24.3654 10.3461C24.3654 4.64448 28.934 0 34.6129 0C37.5634 0 40.2284 1.24922 42.1003 3.26719C44.4162 2.81877 46.637 1.95388 48.6041 0.768756C47.8426 3.17115 46.2246 5.18912 44.099 6.47029C46.1612 6.24618 48.16 5.66949 50 4.86878C48.6043 6.9187 46.8593 8.74441 44.8605 10.2179V10.2179Z" fill="white"/>
              </svg>
            </a>
          </div>
          <div>
            <a class="icon-button-black" href="https://www.instagram.com/ahoranostocachile/?hl=es-la" target="_blank">
              <svg width="44" height="41" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M22.0049 10.719C15.762 10.719 10.7264 15.7557 10.7264 22C10.7264 28.2443 15.762 33.281 22.0049 33.281C28.2479 33.281 33.2834 28.2443 33.2834 22C33.2834 15.7557 28.2479 10.719 22.0049 10.719ZM22.0049 29.3342C17.9706 29.3342 14.6724 26.0451 14.6724 22C14.6724 17.9549 17.9607 14.6658 22.0049 14.6658C26.0491 14.6658 29.3374 17.9549 29.3374 22C29.3374 26.0451 26.0393 29.3342 22.0049 29.3342V29.3342ZM36.3755 10.2575C36.3755 11.7204 35.1975 12.8888 33.7448 12.8888C32.2822 12.8888 31.1141 11.7106 31.1141 10.2575C31.1141 8.80442 32.292 7.62624 33.7448 7.62624C35.1975 7.62624 36.3755 8.80442 36.3755 10.2575ZM43.8454 12.928C43.6785 9.40332 42.8736 6.28116 40.292 3.7088C37.7202 1.13645 34.5988 0.331362 31.0748 0.154636C27.4429 -0.0515452 16.5571 -0.0515452 12.9252 0.154636C9.41104 0.321544 6.28957 1.12663 3.70798 3.69898C1.12638 6.27134 0.331288 9.39351 0.154601 12.9182C-0.0515337 16.5509 -0.0515337 27.4392 0.154601 31.072C0.321472 34.5967 1.12638 37.7188 3.70798 40.2912C6.28957 42.8635 9.40123 43.6686 12.9252 43.8454C16.5571 44.0515 27.4429 44.0515 31.0748 43.8454C34.5988 43.6785 37.7202 42.8734 40.292 40.2912C42.8638 37.7188 43.6687 34.5967 43.8454 31.072C44.0515 27.4392 44.0515 16.5607 43.8454 12.928V12.928ZM39.1534 34.9698C38.3877 36.8941 36.9055 38.3767 34.9718 39.1523C32.0761 40.301 25.2049 40.0359 22.0049 40.0359C18.8049 40.0359 11.9239 40.2912 9.03804 39.1523C7.11411 38.3865 5.6319 36.9039 4.85644 34.9698C3.70798 32.0734 3.97301 25.2007 3.97301 22C3.97301 18.7993 3.71779 11.9168 4.85644 9.03024C5.62209 7.10588 7.10429 5.62334 9.03804 4.84771C11.9337 3.69898 18.8049 3.96407 22.0049 3.96407C25.2049 3.96407 32.0859 3.7088 34.9718 4.84771C36.8957 5.61352 38.3779 7.09606 39.1534 9.03024C40.3018 11.9266 40.0368 18.7993 40.0368 22C40.0368 25.2007 40.3018 32.0832 39.1534 34.9698Z" fill="white"/>
              </svg>
            </a>
          </div>
          <div>
            <a class="icon-button-black" href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank">
              <svg width="26" height="41" viewBox="0 0 26 50" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.2962 28.125L25.6444 19.0762H17.2145V13.2041C17.2145 10.7285 18.3921 8.31543 22.1676 8.31543H26V0.611328C26 0.611328 22.5222 0 19.1971 0C12.2548 0 7.71694 4.33398 7.71694 12.1797V19.0762H0V28.125H7.71694V50H17.2145V28.125H24.2962Z" fill="white"/>
              </svg>
            </a>
          </div>
        </div>
  </div>
  <!-- End desktop -->
</div>
