/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

::selection {
    background: $brand;
}

.brand{
  color: $brand !important;
}
/**
 * Headings
 */
h1, h2 {
  font-family: $title-font-family;
  letter-spacing: 1px;
}

h3, h4, h5{
  font-family: $base-font-family;
}

h3.black{
  color: $black;
  font-weight: 400;
  font-size: 1.3rem !important;
  line-height: 1.3 !important;
}

/**
 * Margins & paddings
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

.uk-section{
  padding-top: 0;
  padding-bottom: 120px;
}

.pd-20-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

.pd-top-120{
  padding-top: 120px;
}

.mg-top-45{
  margin-top: 45px;
}

.mg-top-90{
  margin-top: 90px;
}

.mg-bot-45{
  margin-bottom: 45px;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Links
 */
a {
  color: $brand;
  text-decoration: none;
  &:hover {
    color: $cyan;
    text-decoration: none;
  }
  &:focus {
    color: $cyan;
    text-decoration: none;
  }
  .social-media-list &:hover {
    text-decoration: none;
    .username {
      text-decoration: underline;
    }
  }
}

/**
 * Cards
 */

.uk-card{
  a{
    color: $brand !important;
    &:hover {
      color: $cyan !important;
      text-decoration: none;
    }
    &:focus {
      color: $cyan !important;
      text-decoration: none;
    }
  }
  h3, h4{
    font-family: $base-font-family;
  }
}

/**
 * Sections
 */

 #welcome-page.uk-height-viewport{
   min-height: 70vh;
   padding: 140px 0 0;
   h2{
     font-size: 2.6rem;
   }
 }

 .bg-white{
   background-color: $white;
   color: $text-color;
   h2{
     color: $text-color;
   }
 }

 .bg-brand{
   background-color: $brand;
   color: $white;
   h2, h3{
     color: $white;
   }
   a{
     color: $black;
     &:hover{
       color: $white;
     }
   }
 }

 .bg-pink{
   background-color: $pink;
   color: $white;
   h2,h3{
     color: $white;
   }
   a{
     color: $black;
     &:hover{
       color: $white;
     }
   }
 }

 .bg-blue{
   background-color: $blue;
   color: $white;
   h2,h3{
     color: $white;
   }
   a{
     color: $black;
     &:hover{
       color: $white;
     }
   }
 }

 .bg-cyan{
   background-color: $cyan;
   color: $white;
   h2,h3{
     color: $white;
   }
   a{
     color: $black;
     &:hover{
       color: $white;
     }
   }
 }

 .bg-green{
   background-color: $green;
   color: $white;
   h2,h3{
     color: $white;
   }
   a{
     color: $black;
     &:hover{
       color: $white;
     }
   }
 }

 .bg-yellow{
   background-color: $yellow;
   color: $black;
   h2,h3{
     color: $black;
   }
   a{
     color: $white;
     &:hover{
       color: $black;
     }
   }
 }

 .bg-black{
   background-color: $black;
   color: $white;
   h2, h3{
     color: $white;
   }
 }



 /**
  * Text classes
  */
.txt-brand{
  color: $brand;
}

.txt-bigger-size{
  font-size: 1.1rem;
}

strong{
  font-family: $title-font-family;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: initial;
}

span{
  font-family: $title-font-family;
}


/**
 * Buttons
 */
 a.button-brand-line{
    color: $brand !important;
    border: 2px solid $brand;
    &:focus{
      background-color: $brand;
      color: $white !important;
    }
    &:hover{
      background-color: $brand;
      color: $white !important;
    }
 }

 a.button-black-line{
    color: $black !important;
    border: 2px solid $black;
    &:focus{
      background-color: $black;
      color: $white !important;
    }
    &:hover{
      background-color: $black;
      color: $white !important;
    }
 }

 a.button-white-line{
    color: $white !important;
    border: 2px solid $white;
    &:focus{
      background-color: $white;
      color: $black !important;
    }
    &:hover{
      background-color: $white;
      color: $black !important;
    }
 }

 a.button-yellow-bg{
    color: $black !important;
    border: none;
    background-color: $yellow;
    &:focus{
      background-color: $white;
    }
    &:hover{
      background-color: $white;
    }
 }

 .uk-button {
     text-transform: none;
     font-size: $base-font-size;
     line-height: 3;
 }


 .icon-button-black{
   svg:hover{
     path{
       fill: $black;
     }
   }
   svg:focus{
     path{
       fill: $black;
     }
   }
}


 /**
  * Navbar
  */
  nav.uk-navbar-container.uk-navbar-transparent.uk-dark {
      margin-bottom: -150px;
      z-index: 200;
      position: relative;
      background: $brand;
  }

  .uk-navbar{
    padding: 15px;
    font-size: $base-font-size;
    letter-spacing: 0.0275rem;
  }

  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: $brand;
    margin-bottom: -80px;
    z-index: 100;
  }

  .uk-navbar-nav>li>a {
      color: $black;
      text-transform: none;
      font-size: $base-font-size;
      font-family: $base-font-family;
      &:hover{
        color: white;
      }
      &:focus{
        color: white;
      }
      &:active{
        color: $black;
      }
  }

  .uk-navbar-nav>li.uk-active>a {
      color: $black;
  }

  .uk-navbar-toggle {
    color: $white;
    :hover{
      color: $black;
    }
    :active{
      color: $black;
    }
  }

.navbar-dark{
  background-color: $black;
  letter-spacing: 0.0275rem;
  height: 50px;
}

.subnav > li > a{
  color: white;
  position: relative;
  top: 2px;
}

.subnav > li > a:focus,
.subnav > li > a:hover{
  color: $yellow;
}

ul.subnav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

li.distributed {
    color: #fff;
    display: inline-block;
    font: 1em/1.5;
    margin-right: -.25em;
    padding: .75em 1.04em;
}


.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{
  min-height: 40px;
}

.rrss{
  position: relative;
  top: 260px;
  z-index: 300;
  background: white;
  width: 50px;
  font-size: 30px;
  margin: 0 0 10px;
  padding: 5px 0 1px 0;
  color: white;
  a{
    color: $white;
    &:hover{
      color: $white;
    }
    &:focus{
      color: $white;
    }
  }
}

/**
 * Images
 */
.logo-hero {
}

img.logo-navbar {
  width: 80%;
  position: relative;
  top: 5px;
}

/**
 * Footer
 */
footer {
    padding: 60px 0 10px;
    background: $black;
    color: $white;
    a{
      color: $white;
      &:hover{
        color: $brand;
      }
      &:focus{
        color: $brand;
      }
    }
}

img.logo-footer{
  position: relative;
  top: -24px;
}

/**
 * Elements
 */

.uk-text-lead{
  line-height: 1.1;
  color: $white !important;
}

.uk-table td {
    padding: 30px 0 30px;
}

td{
  h3{
    font-family: $base-font-family;
    color: $brand;
    font-weight: 600;
  }
  a.uk-button.button-brand-line {
    min-width: 170px;
    margin-left: 30px;
  }
}

.td-mobile{
  h3{
    font-family: $base-font-family;
    color: $brand;
    font-weight: 600;
  }
  padding: 15px;
}

.compressed{
  margin: -10px 0 -10px 0;
}

.hero-back:before{
  top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 400;
    background: url(images/bg.png) repeat;
}

.hero-over{
  position: relative;
  z-index: 10000;
  top: -40px;
}

.team{
  padding: 30px 0 0;
  h4{
    color: $brand;
    margin-bottom: -20px;
  }
}

// Mobile
@media only screen and (max-width: 991px) {
  .uk-offcanvas-bar{
    background: $black;
    a{
      color: $white;
      &:hover{
        color: $yellow;
      }
      &:focus{
        color: $yellow;
      }
    }
  }

  .uk-offcanvas-bar .uk-close{
    color: $white;
  }

  .uk-close:hover{
    color: $yellow !important;
  }

  .logo-hero {
    margin-top: 200px;
    width: 70%;
  }

  img.logo-navbar {
    padding: 15px 0 5px 15px;
    width: 80%;
  }

  .uk-section {
      padding-top: 0;
      padding-bottom: 80px;
  }

  .pd-top-120{
    padding-top: 80px;
  }

  .mg-top-45{
    margin-top: 30px;
  }

  .mg-top-90{
    margin-top: 60px;
  }

  .mg-bot-45{
    margin-bottom: 30px;
  }

  .uk-dropdown {
      color: $black;
  }

}
