<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}

  <body>

    <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-dark; top: 600">
        <nav class="uk-navbar-container animated fadeIn delay-1s">
          <div class="uk-container nav-width">
            <div uk-navbar>
              <div class="uk-navbar-left">
                <a href="{{ site.baseurl_root }}{{ page.url  }}"><img class="logo-navbar" data-src="assets/images/logo-navbar.svg" uk-img></a>
              </div>
              <div class="uk-visible@m uk-navbar-right">
                <ul class="uk-navbar-nav">
                  <li><a href="https://forms.gle/iwhSbxrzEMsQTWio9" class="uk-button button-yellow-bg" target="_blank" style="line-height:0.5" onclick="">{% t navbar.form %}</a></li>
                </ul>
              </div>
              <div class="uk-hidden@m uk-navbar-right">

                <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-flip"></a>
                <div id="offcanvas-flip" uk-offcanvas="flip: true; overlay: true; mode: push">
                    <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-text-center">
                        <button class="uk-offcanvas-close" type="button" uk-close></button>
                        <ul class="uk-list">
                          <li><a href="{{ site.baseurl }}/el-proyecto.html" onclick="gtag('event', 'Llevar a sección El proyecto desde el Menu principal', { 'event_category': 'link', 'value': '1'})">{% t navbar.project %}</a></li>
                          <li><a href="{{ site.baseurl }}/material-de-formacion.html" onclick="gtag('event', 'Llevar a sección Material de formación desde el Menu principal', { 'event_category': 'link', 'value': '1'})">{% t navbar.resources %}</a></li>
                          <li><a href="{{ site.baseurl }}/forma-a-otrxs.html" onclick="gtag('event', 'Llevar a sección Forma a otrxs desde el Menu principal', { 'event_category': 'link', 'value': '1'})">{% t navbar.educators %}</a></li>
                          <li class="uk-hidden"><a href="{{ site.baseurl }}/equipos-regionales.html" onclick="gtag('event', 'Llevar a sección Equipos regionales desde el Menu principal', { 'event_category': 'link', 'value': '1'})">{% t navbar.teams %}</a></li>
                          <li><a href="{{ site.baseurl }}/donaciones-y-transparencia.html" onclick="gtag('event', 'Llevar a sección Donaciosnes y Transparencia desde el Menu principal', { 'event_category': 'link', 'value': '1'})">{% t navbar.donations %}</a></li>
                          <li><a href="https://forms.gle/iwhSbxrzEMsQTWio9" class="uk-button button-yellow-bg" target="_blank" onclick="gtag('event', 'Click en botón para registrar formación en el menu principal', { 'event_category': 'form', 'value': '1'})">{% t navbar.form %}</a></li>
                          <hr style="border:1px solid #fff">
                          <li style="font-size:26px"><a href="https://twitter.com/ahrnostoca" target="_blank" onclick="gtag('event', 'Llevar a twitter de ANTP desde el menu principal', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-twitter"></i></a>
                          <a href="https://www.instagram.com/ahoranostocachile/" target="_blank" onclick="gtag('event', 'Llevar a instagram de ANTP desde el menu principal ', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-instagram"></i></a>
                          <a href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank" onclick="gtag('event', 'Llevar a facebook de ANTP desde el menu principal ', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-visible@m nav-width navbar-dark animated fadeIn delay-1s">
            <div class="uk-container uk-text-center uk-flex uk-flex-center">
              <ul class="subnav" style="padding-left: 0; margin-left: -10px;">
                <li class="distributed"><a href="{{ site.url }}" onclick="gtag('event', 'Llevar al home desde el Menu principal', { 'event_category': 'link', 'value': '1'})"> {% t navbar.home %} </a></li>
                <li class="distributed"><a href="{{ site.baseurl }}/el-proyecto.html" onclick="gtag('event', 'Llevar a sección El proyecto desde el Menu principal', { 'event_category': 'link', 'value': '1'})"> {% t navbar.project %} </a></li>
                <li class="distributed"><a href="{{ site.baseurl }}/material-de-formacion.html" onclick="gtag('event', 'Llevar a sección Material de formación desde el Menu principal', { 'event_category': 'link', 'value': '1'})"> {% t navbar.resources %} </a></li>
                <li class="distributed"><a href="{{ site.baseurl }}/forma-a-otrxs.html" onclick="gtag('event', 'Llevar a sección Forma a otrxs desde el Menu principal', { 'event_category': 'link', 'value': '1'})"> {% t navbar.educators %} </a></li>
                <li class="distributed uk-hidden"><a href="{{ site.baseurl }}/equipos-regionales.html" onclick="gtag('event', 'Llevar a sección Equipos regionales desde el Menu principal', { 'event_category': 'link', 'value': '1'})"> {% t navbar.teams %} </a></li>
                <li class="distributed"><a href="{{ site.baseurl }}/donaciones-y-transparencia.html" onclick="gtag('event', 'Llevar a sección Donaciosnes y Transparencia desde el Menu principal', { 'event_category': 'link', 'value': '1'})"> {% t navbar.donations %} </a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="uk-visible@m uk-align-right uk-text-center">
          <div class="rrss animated fadeIn delay-1s" style="margin-top:-63px;background:#00acee;">
            <a href="https://twitter.com/ahrnostoca" target="_blank" onclick="gtag('event', 'Llevar a twitter de ANTP desde el menu principal', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-twitter"></i></a>
          </div>
          <div class="rrss animated fadeIn delay-1s" style="background:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);">
            <a href="https://www.instagram.com/ahoranostocachile/" target="_blank" onclick="gtag('event', 'Llevar a instagram de ANTP desde el menu principal', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-instagram"></i></a>
          </div>
          <div class="rrss animated fadeIn delay-1s" style="background:#4267b2;">
            <a href="https://www.facebook.com/Ahora-nos-toca-100491311521863/" target="_blank" onclick="gtag('event', 'Llevar a facebook de ANTP desde el menu principal', { 'event_category': 'link', 'value': '1'})"><i class="uil uil-facebook"></i></a>
          </div>
        </div>
    </div>

    <main aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
